# copy  this file to .env and fill in the values

# Format: postgresql://user:password@host:port/database

# configuration to be used with ssh tunneling:
#DATABASE_URL_LOGIN=postgresql://{account}:{pw}@127.0.0.1:15432/{db} -- with venv
DATABASE_URL_LOGIN=postgresql://{account}:{pw}@host.docker.internal:15432/{db} # -- with docker

# Debug mode (True/False)
DEBUG=True

# Coockie secret key (generate a random string for production)
COOKIE_SECRET =""

# Port server FastAPI
PORT=8000
PORT_LOGIN=8002
PORT_SMS=8001

# Google OAuth Client ID
GOOGLE_CLIENT_ID= {client_id}.apps.googleusercontent.com