# Configurare conexiune PostgreSQL
# Copiază acest fișier în .env și completează cu datele tale

# Format: postgresql://user:password@host:port/database
#DATABASE_URL=postgresql://admin_test:12Septica@localhost:5432/test_clinic_db
DATABASE_URL_LOGIN=postgresql://postgres:parola_ta@localhost:5432/transfit

# Port server FastAPI (opțional, default 8000)
PORT=8000
